:root {
  --pct: 100%;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 92, 147);
  border: 1px solid #28018b;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(45,83,132); 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(150deg, rgb(80, 180, 240), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-blend-mode: overlay;*/
  /*background-size: cover;*/
  /*background-image: url("https://defly.io/img/background-grid.png");*/
}
body::before {
  content: '';
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-image: url('/images/background-grid.png');
  background-size: 50px 50px;
}
/*body::after {
  content: '';*/
.screen-overlay-fade {
  z-index: 1000;
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) var(--pct), rgba(255, 255, 255, 1) calc(var(--pct) + 100%));
  pointer-events: none;
  /*animation: 1s blanck-out-screen infinite;*/
}

/*@property --opacity {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}*/
@property --pct {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

@keyframes blanck-out-screen {
  0% {--pct: 100%}
  100%  {--pct: -100%;}
}

button {
  cursor: pointer;
  font-size: larger;
}

#main-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

#main-menu {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 5%;
}

#main-menu-nav {
  position: absolute;
  top: 15%;
  left: 1%;
  width: 14%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: 2px solid red;
}
#main-menu-nav > div {
  border: 2px solid red;
  border-radius: 6px 0 6px 0;
  background: rgba(100,100,100,.5);
  font-weight: 700;
  font-size: 2em;
}

#main-menu-content > div {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
  transition-property: opacity;
  transition-duration: .5s;
}

.menu-heading {
  position: absolute;
  top: 2%;
  width: 100%;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

#main-menu-page1-content > div {
  border: 2px solid red;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main-menu-page1-content > div > button {
  background-color: blue;
  border-radius: 4px;
  height: 50px;
}
#main-menu-page1-content > div > div {
  background-color: rgba(100, 200, 100, 0.5);
  border: 2px solid black;
  width: 50%;
}


#map-editor, #map-editor > div {
  z-index: 10;
}

#DME-resize-values {
  display: none;
}
#DME-resize-values > div {
  position: fixed;
}
#DME-resize-values input[type=number] {
  width: auto;
  max-width: 40px;
  border: 1px solid rgba(0,0,0,.5);
  background-color: rgba(50,50,50,.6);
}
#DME-resize-values input[type=number]::-webkit-inner-spin-button {
  opacity: .4;
  margin-right: -7px;
}

#DME-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: white;
}
#DME-nav-bar > div {
  margin: 10px 20px 0px 20px;
  background-color: blue;
}
#DME-nav-bar-content {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: red;
}
#DME-nav-bar-content > div {
  margin: 10px;
  width: calc(100% - 10px);
  background-color: aqua;
}

#DME-menu {
  /*display: none;*/
  position: fixed;
  width: 296px;
  height: auto;
  left: 30px;
  top: 30px;
  background-color: rgba(10, 10, 10, 0.7);
  color: rgb(230,230,230);
  border-radius: 10px;
  color: white;
  outline: 1px solid rgba(250,250,250,.6);
}

#DME-menu button:last-child {
  margin-bottom: 3px;
}

#DME-hotkey-menu, #DC-hotkey-menu {
  border-radius: 10px;
  flex-direction: column;
  position: fixed;
  width: 430px;
  background-color: rgba(10, 10, 10, 0.6);
  overflow-y: auto;
}
#DME-hotkey-menu {
  left: 355px;
  top: 30px;
  height: calc(90% - 30px);
}
#DC-hotkey-menu {
  z-index: 1;
  left: 160px;
  top: 130px;
  max-height: 400px;
}
#DME-hotkey-menu > div, #DC-hotkey-menu > div {
  padding: 2px 0;
  display: flex;
  justify-content: space-around;
}
#DME-hotkey-menu > div > span, #DC-hotkey-menu > div > span {
  color: white;
  width: 150px;
}
#DME-hotkey-menu > div > button, #DC-hotkey-menu > div > button {
  border-radius: 4px;
  width: 125px;
  height: 23.6px;
  font-size: 16px;
}

#DME-visuals-menu {
  border-radius: 10px;
  flex-direction: column;
  position: fixed;
  left: 355px;
  top: 30px;
  width: 280px;
  background-color: rgba(10, 10, 10, 0.6);
}
#DME-visuals-menu > div {
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
}
#DME-visuals-menu > div > span {
  color: white;
  font-size: 18px;
  width: 200px;
  padding: 0px 3px 0px 10px;
  font-size: 17px;
}
#DME-visuals-menu > div *:nth-child(2):not(div) {
  margin-right: 7px;
}
#DME-visuals-menu button {
  font-size: 14px;
  border-radius: 3px;
  padding: 0px 2px;
}
#DME-visuals-menu input[type='color'] {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: rgba(200,200,200,.3);
}
#DME-visuals-menu input[type='number'] {
  width: 40px;
  height: 20px;
  padding: 0;
  background-color: rgba(200,200,200,.3);
}
#DME-visuals-menu-close {
  border-radius: 4px;
  width: 125px;
  height: 23.6px !important;
  font-size: 16px;
}
#DME-visuals-menu-quality-buttons button{
  width: 54px;
  background-color: rgba(50, 50, 50, 0.6);
}

#DME-towers-info {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: rgba(10,10,10,.6);
  padding: 1px 3px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
#DME-towers-info > div:nth-last-child(n + 2) input {
  width: 40px;
}
#DME-towers-info > div {
  padding: 2px 0px;
}
input[type=number]:not(:hover)::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#DME-coords-info {
  position: fixed;
  bottom: 10px;
  right: 5px;
  background-color: rgba(160,160,160,.4);
}

#DME-file-drop {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 70px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-top: calc(45vh - 35px);
  background-color: rgba(115, 177, 15, 0.7);
}
/*#DME-file-drop::after {
  pointer-events: none;
  position: fixed;
  z-index: 1001;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 3px solid white;
}*/

#DME-file-drop[drag_active=true]{
  display: inline;
}

/* #DME-selected-towers-UI {
  position: fixed;
  top: 50%;
  left:50%;
  width: 300px;
  height: 200px;
  outline: 10px solid orange;
  outline-offset: -15px;
  background-color: rgba(200, 200, 200, 0.5);
}

.DME-selected-towers-UI-resize {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
} */

#DC-control-pannel {
  position: fixed;
  text-align: center;
  right: 0px;
  top: -1px; /*idk why but this needed here*/
  z-index: 10;
  height: 100%;
  transition: right 0.7s;
}
#DC-control-pannel.slided-in {
  right: -170px;
}
#DC-control-pannel.slided-out {
  right: 0px;
}

#DC-control-pannel > .content {
  width: 170px;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.7);
  color: rgb(230,230,230);
  outline: 1px solid rgba(250,250,250,.6);
  border-radius: 0px 0px 0px 5px;
}
#DC-control-pannel > * {
  background-color: rgba(10, 10, 10, 0.7);
}
#DC-control-pannel > button {
  position: absolute;
  right: 170px;
  top: 1px;
  font-weight: 800;
  font-size: large;
  border-radius: 5px 0px 0px 5px;
}
#DC-control-pannel > button > div {
  rotate: 0deg;
  transition: rotate 0.7s linear;
}

#DC-control-pannel * {
  font-size: 12px;
}
#DC-control-pannel > .content > button {
  width: 100px;
  margin: 1px 8px;
}
#DC-control-pannel > .content > div {
  margin: 1px 8px;
}

#DC-select-defuse-copter {
  position: fixed;
  text-align: center;
  width: auto;
  height: auto;
  left: 30px;
  background-color: rgba(10, 10, 10, 0.3);
  border-radius: 10px;
  z-index: 10;
  outline: 1px solid rgba(250,250,250,.6);
  scale: .5;
  transition: top 1s;
}
#DC-select-defuse-copter.slided-in {
  top: 10px;
}
#DC-select-defuse-copter.slided-out {
  top: -125px;
}
#DC-select-defuse-copter > img {
  cursor: pointer;
}
#DC-select-defuse-copter > .DC-copter-selected {
  border: 5px solid red;
  border-radius: 7px;
}

#DC-upgrade-block {
  display: block;
  position: fixed;
  width: auto;
  height: auto;
  text-align: center;
  bottom: 40px;
  z-index: 10;
  transition: left 1s;
}
#DC-upgrade-block.slided-in {
  left: 15px;
}
#DC-upgrade-block.slided-out {
  left: -250px;
}
#DC-upgrade-block > div {
  margin-bottom: 2px;
}
#DC-upgrade-block .DC-upgrade-line {
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  color: white;
  pointer-events: none;
  margin-top: 3.5px;
}
#DC-upgrade-block .DC-upgrade-boxes {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px 4px;
  border-radius: 6px;
  height: 18px;
}
#DC-upgrade-block .DC-upgrade-boxes > span {
  display: inline-block;
  background-color: rgb(127, 127, 127);
  border-radius: 4px;
  width: 26px;
  height: 18px;
  cursor: pointer;
}
#DC-upgrade-block .DC-upgrade-boxes > span.active {
  background-color: rgb(255, 120, 0);
}

.visible {
  display: inline;
}
.hidden {
  display: none !important;
}
.clickable {
  cursor: pointer;
}

.selected {
  background-color: #F0F0F0 !important;
}

.fatButton {
  font-size: 20px;
  width: 280px;
  margin: 1px 8px;
  /* background-color: rgba(100, 100, 250, 01); */
}
.fatButtonRight {
  font-size: 18px;
  width: 137px !important;
  margin: 1px 1px 1px 8px;
}
.fatButtonLeft {
  font-size: 18px;
  width: 137px !important;
  margin: 1px 0px;
}

.pseudo-button-small {
  border: 1px solid black;
  background-color: #fafafa;
  color: black;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.pseudo-button-small:hover {
  background-color: darkgray;
}
.pseudo-button-small:active {
  background-color: white;
  border: 1px;
}

/*#empty {
  position: fixed;
  top: 30%;
  width: var(--pct);
  height: 20px;
  background-color: red;
  animation: 1s blanck-out-screen infinite;
}*/